@use "./apps/aphrodite/src/app/styles/Mixin" as *;

.navbar {
  display: flex;
  align-content: center;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 5rem;
  width: 100vw;
  z-index: 99;
  transition: height 0.3s ease, background-color 0.3s ease;

  &.shrink {
    height: var(--height-header-shrink);
    background-color: rgb(0, 0, 0, 1);
  }

  &__logo {
    font-size: 3rem;
    font-weight: 600;
    align-self: center;
    justify-self: flex-start;
    margin-left: 2rem;


    a {
      color: white;
      text-decoration: none;
    }
  }

  &__nav {
    display: flex;
    align-self: center;
    justify-self: center;
    list-style: none;
    margin: auto;

    li {
      font-weight: 500;
      position: relative;
      font-size: 1.8rem;
      margin: 0 0.5rem 0 0.5rem;
      padding: 0.5rem 1rem 0.5rem 1rem;
      border-radius: 0.5rem;


      &:hover {
        background-color: rgb(255, 255, 255, 0.3);
      }


      .Links {
        color: white;
        text-decoration: none;
        display: flex;
        align-content: center;
        justify-content: center;

        .icon-wrapper {
          display: flex;
          align-content: center;
          justify-content: center;

          .icon {
            margin-right: 0.5rem;
            fill: white;
          }
        }

        @include mobile {
          span {
            display: none;
          }
          .icon-wrapper {
            .icon {
              margin-right: 0;
            }
          }
        }
      }

      &.active {
        background-color: rgb(255, 255, 255, 0.3);
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        transition: width 0.5s ease;
        height: 2px;
        background-color: white;
      }

      //&.active::after,
      &:hover::after {
        width: 92%;
      }
    }

    @include mobile {
      position: fixed;
      bottom: 0;
      left: 0;
      height: 5rem;
      width: 100%;
      background-color: var(--cr-body-bg);
      padding: 0 2rem;
      box-shadow: var(--sh-box-def);

      @include flex(center, space-between);

      & > * ~ * {
        margin-left: 0;
      }
    }
  }

  &__user {
    align-self: center;
    justify-self: flex-end;
    display: flex;
    width: 4rem;
    height: 4rem;
    align-content: center;
    justify-content: center;
    border-radius: 50%;
    border: 0.2rem solid rgb(255, 255, 255, 0.5);
    margin-right: 1.5rem;


    img {
      width: 100%;
    }

    @include mobile {
      justify-self: right;
      margin: 0 2rem 0 auto;
    }
  }
}
