$color: white;
$color-dark: black;
$speed: "0.25s";
$transition: all #{$speed} cubic-bezier(0.310, -0.105, 0.430, 1.400);

// TODO Requires allot more work to make styles clean

.btn {
  display: block;
  background-color: $color;
  margin: auto;
  color: #fff;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 0.5em;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .3);
  transition: $transition;
  aspect-ratio: 3/1;

  span,
  .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-items: center;

    height: 100%;
    color: black;
  }


  span {
    font-size: 2em;
    text-transform: uppercase;
    left: 0;
    transition: $transition;
    font-weight: 500;
  }

  .icon {
    right: 0;
    transition: $transition;

    .play {
      font-size: 2.5em;
      transition: $transition, height 0.3ms ease-in-out;
    }

    .outlined {
      display: flex;
    }

    .fill {
      display: none;
    }
  }

}


////////////////////////////////////////////////////////////////////////////////////////////
.clean {
  span {
    width: 100%;
  }

  .icon {
    width: 0;
  }
}

.stylish {
  span {
    width: 72%;

    &:after {
      content: '';
      background-color: $color-dark;
      width: 2px;
      height: 70%;
      position: absolute;
      top: 15%;
      right: -1px;
    }
  }

  .icon {
    width: 28%;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////

.full {
  &:hover {
    opacity: .9;

    span {
      left: -100%;
      opacity: 0;
    }

    .icon {
      width: 100%;

      .play {
        font-size: 3em;
      }

      .outlined {
        display: none;
      }

      .fill {
        display: flex;
        font-size: 3em;
        color: black;
      }
    }
  }
}

.min {
  background-color: transparent;
  border: 0.2em solid white;

  span {
    width: 100%;
    color: white !important;
  }

  .icon {
    width: 0;

    .play {
      svg {
        rotate: -90deg;
      }
    }
  }

  &:hover {
    background-color: white;

    span {
      width: 72%;
      color: black !important;
    }

    .icon {
      width: 28%;
      color: black;

      .play {
        font-size: 3em;
      }

      .outlined {
        display: none;
      }

      .fill {
        display: flex;
      }
    }
  }
}
