.play-btn {
  position: relative;
  z-index: inherit;
  border-radius: 50%;
  border: solid 0.1rem white;
  background-color: rgba(black, 0.5);
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  transition-delay: 1s;
  margin: 0;

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    fill: white;
  }

  &:hover,
  &:active {
    opacity: 1;
    transition-delay: 0s;
  }
}

