@use "./apps/aphrodite/src/app/styles/Mixin" as *;

.hero-section {
  padding: 9rem 0;
  width: 100%;
  position: relative;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 5rem;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include overlay();
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    //background: -webkit-gradient(linear, left top, right top, color-stop(0%, transparent), color-stop(50%,#fff), color-stop(100%,transparent)); /* Chrome, Safari4+ */
    //background-image: -moz-linear-gradient(top, var(--cr-body-bg) 0%, rgba(black, 0) 100%);;
    //background-image: -webkit-linear-gradient(top, var(--cr-body-bg) 0%, rgba(black, 0) 100%); /* Chrome10+, Safari5.1+ */
    background-image: linear-gradient(to top, #0f0f0f, rgba(black, 0));
  }

  &__container {
    @include flex(center, center);
    position: relative;
    margin-left: 10rem;

    @include mobile {
      margin-left: 0;
    }

    &__info {
      width: 55%;
      padding: 0 3rem;
      position: relative;
      color: white;

      @include mobile {
        width: 100%;
      }

      & > * ~ * {
        margin-top: 3rem;
      }

      .title {
        display: flex;
        align-content: center;
        justify-content: center;

        h2 {
          font-size: 5rem;
          font-weight: 700;
          line-height: 1;
        }

        img {
          width: 30rem;
        }
      }

      .overview {
        font-weight: 700;
        font-size: 1.2rem;
      }

      .btns {
        display: flex;
        width: fit-content;
      }

      .btns > * ~ * {
        margin-left: 2rem;
      }
    }

    &__poster {
      flex: 1;
      @include flex(center, flex-start);
      position: relative;

      img {
        width: 25rem;
        border-radius: var(--border-radius-def);
        box-shadow: var(--sh-box-def);
      }

      @include mobile {
        display: none;
      }
    }
  }
}
