.slider {
  position: relative;
  overflow: visible;
  margin: 5rem 0;

  &__name {
    span {
      color: white;
      font-size: 2.5rem;
    }
  }


  &__wrapper {
    position: relative;
    margin-top: 2rem;

    &__content {
      white-space: nowrap;

      /* ========================================== Studio Box ========================================== */
      .studio-box {
        display: inline-block;
      }


      /* ========================================== Show Box ========================================== */
      .show-box {
        display: inline-block;
        transition-duration: 0.5s;

        &:hover {
          transform: scale(1.5) !important;
        }

        &:hover ~ .show-box {
          transform: translate(25%);
        }
      }

      &:hover .show-box {
        transform: translate(-25%);
      }
    }


    /* ======================================== Arrows ========================================= */
    &__arrow {
      display: none;
      position: absolute;
      align-items: center;
      justify-content: center;
      z-index: 1;
      color: #ffffff;
      transition-duration: 0.4s;
      border-radius: 50%;
    }
  }

  .big {
    .slider__wrapper__arrow {
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(20, 20, 20, 0.5);
      font-size: 2.5rem;
      height: 5rem;
      width: 5rem;

      &:hover,
      &:active {
        background-color: rgba(20, 20, 20, 0.9);
        height: 100%;
        width: 4%;
        border-radius: 0;

        & > * {
          transform: scale(1.3);
        }
      }
    }

    &:hover,
    &:active {
      .slider__wrapper__arrow {
        display: flex;
      }
    }

    .left {
      left: 0;
    }

    .right {
      right: 0;
    }
  }

  .small {
    .slider__wrapper__arrow {
      display: flex;
      top: -5rem;
      background-color: rgba(white, 0.3);
      color: black;
      font-size: 1.5rem;
      height: 3rem;
      width: 3rem;

      &:hover,
      &:active {
        background-color: rgba(white, 0.9);
      }
    }

    .left {
      right: 10%;
    }

    .right {
      right: 5%;
    }
  }
}

.show_slider {
  .slider__wrapper {
    padding: 0 4%;
  }

  .slider__name {
    margin-left: 4%;
  }
}

.studio_slider {
  padding: 0 0 0 4%;

  .slider__name {
    padding-left: 1%;
  }
}
